html {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

body {
  transition: color 0.5s, background-color 0.5s;
}

body a {
  transition: color 0.5s;
}

body.dark-mode {
  color: #e2e2e2;
  background-color: #242424;
}

body.dark-mode a {
  color: #1980e9;
}

body.light-mode {
  color: #242424;
  background-color: #e2e2e2;
}

p,
li {
  line-height: 1.5em;
}

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 43em;
}

img.blogimage {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

img.clipped {
  clip-path: inset(30% 0 30% 0);
}

time.blogdate,
span.author {
  color: #8f8f8f;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.25em;
}

footer a {
  margin: 0 5%;
}

dl {
  max-width: 21em;
}

dl div.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s, color 0.5s;
  flex-grow: 0;
  position: fixed;
  bottom: 0;
  right: 0;
}

.dark-mode button {
  color: #242424;
  background-color: #e2e2e2;
}

.dark-mode button:hover {
  background-color: #b2b2b2;
}

.light-mode button {
  color: #e2e2e2;
  background-color: #242424;
}

.light-mode button:hover {
  background-color: #545454;
}

button#dark-light-button {
  margin: 1em;
  width: 8em;
}

/* stuff for button image zooming */
/* link: https://css-tricks.com/zooming-background-images/ */
.parent {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  transition: all 0.5s;
  /* stuff for the text inside */
  line-height: 200px;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.bg-image-1 {
  background-image: url("../images/first-attempts-title.jpg");
}

.bg-image-placeholder {
  background-image: url("../images/solenoid.jpg");
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}
/* end of stuff for button image zooming */
